<div class="container">
  <div class="row">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertModal">Ajouter</button>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
					<th> Nom Commune </th>
					<th> Id District </th>
					<th> Id </th>
		
          <th></th>    
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of communeData; track $index) {
          <tr>
			<td>{{item.nomCommune}}</td>
			<td>{{item.district.nomDistrict}}</td>
			<td>{{item.id}}</td>
	
            <th><button class="btn btn-warning" (click)="setUpdate(item)" data-bs-toggle="modal" data-bs-target="#updateModal">Modifier</button></th>
            <th><button class="btn btn-danger" (click)="deleteItem(item)">Supprimer</button></th>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


<!-- INSERT MODAL -->
<div class="modal fade" id="insertModal" aria-hidden="true"  tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
      <!-- Modal Body -->
      <div class="modal-body">
        <form method="post">
					<div class="mb-3"> 
						<label class="form-label">Nom Commune</label>
						<input type="text" class="form-control" name="nomCommune" [(ngModel)]="this.data.nomCommune" >
					</div>
					<div class="mb-3"> 
					 	<label class="form-label">District</label> 
					 	<select class="form-control" name="district" [(ngModel)]="this.data.district" id="select-district">
							@for (item of communeData.district;  track $index){
								<option [ngValue]="item">({item.nomDistrict})</option>
							}
							
						</select>
					</div>
					
          <div class="mb-3">
            <button class="btn btn-primary" type= "submit" (click)="submitInsert()">
              Save Changes
            </button>
          </div>
        </form>
      </div>
      
      <!-- Modal Footer -->
      <div class="modal-footer">
      </div>
      
    </div>
  </div>
</div>

<!-- UPDATE MODAL -->
<div class="modal fade" id="updateModal" aria-hidden="true"  tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
      <!-- Modal Body -->
      <div class="modal-body">
        <form method="post">
					<div class="mb-3"> 
						<label class="form-label">Nom Commune</label>
						<input type="text" class="form-control" name="nomCommune" [(ngModel)]="this.data.nomCommune" value={{toUpdate?.nomCommune}}>
					</div>
					<div class="mb-3"> 
					 	<label class="form-label">District</label> 
					 	<select class="form-control" name="district" [(ngModel)]="this.data.district" id="select-district">
							@for (item of districtData.district;  track $index){
								<option [ngValue]="item">({item.nomDistrict})</option>
							}
							
						</select>
					</div><div class="mb-3"> 
						<label class="form-label"></label>
						<input type="hidden" class="form-control" name="id" [(ngModel)]="this.data.id" value={{toUpdate?.id}}>
					</div>
					
            <button class="btn btn-primary" type= "submit"  (click)="submitUpdate()">
              Save Changes
            </button>
          </div>
        </form>
      </div>
      
      <!-- Modal Footer -->
      <div class="modal-footer">
      </div>
      
    </div>
  </div>
</div>

